@import "../theme/theme";
*,
:after,
:before {
	box-sizing: border-box
}
ul{padding-left:0;


}


html {
	font-size: 100%
}

body {
	margin: 0;
	padding: 20px;
	font-family: $core-font;
	font-size: 1rem;
	color: $primary
}

.wrapper {
	margin: auto;
	max-width: 75rem
}
.wrapper.singlecolumn {
	
	max-width: 58rem
}
aside,
footer,
header,
main,
section {
	display: block;
	margin: 0;
	padding: 1.25rem;
	
}


main {
	background: $background;
	padding:0;
}

.header {
	background: #03a9f4;
	padding:0;
	margin-bottom: 10px;
}

.hero {
	background: #d22b1f
}

@media screen and (min-width:640px) {
	.flex-container {
		display: flex
	}
}

.content {
	flex: 1;
	background:$contentbackground; 
}

.sidebar {
	flex: 0 1 300px;
	background: #673ab7
}

.footer,
.sidebar {
	border: 1px solid #000
}

.footer {
	background: #616161
}