ul {
    &.threerowlayout
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
	img {
		max-width: 100%;
	}
	li {
		list-style-type: none;
        list-style-position: inside;
        margin-bottom: 53px;
		p {
			&.type {
				line-height: 0px;
				font-style: italic;
			}
		}
	}
	span {
		strong {
			font-size: 24px
		}
	}
}
