@media only screen and (min-width: 768px) {
    .singlecolumnlayout .threecolumnlayout{margin:0 -57px;}


    ul {
        &.threecolumnlayout
        {
         li{
            img{width:300px;height:217px}
         }
        }
    }

}
.sidebar
{
    ul{
li{
    margin-bottom: 12px;
}
    }
    p{
        &.img
        {
            margin-bottom: 0;
        }
    }
}

ul {
    &.threecolumnlayout
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
     
    }
	img {
        max-width: 100%;
      
	}
	li {
       
		list-style-type: none;
        list-style-position: inside;
        margin-bottom: 33px;
		p {
            &.img {
            text-align: center;
            }
            &.type {
				line-height: 0px;
				font-style: italic;
			}
		}
	}
	span {
		strong {
            font-size: 23px;
            font-weight:500;
		}
	}
}
.heading_black_bg{text-align: center;margin-bottom:30px}
.heading_black_bg{
    span{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0 15px;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 3px;
    }
}
@media only screen and (max-width: 600px) {
    ul{
        &.threecolumnlayout
        {
        li{flex-basis: 100%;}
        
        }
        img{width: 100%;}
    }
  }
