@import "../theme/theme";
@media only screen and (min-width: 768px) {
    .singlecolumnlayout .threecolumnlayout{margin:0 -57px;}


    ul {
        &.threecolumnlayout
        {
         li{
            img{width:300px;height:217px}
         }
        }
    }

}
.roundimages{
    img{
        border-radius: 7px;
        @include image-shadow;
        
    }
}
.sidebar
{
    ul{
li{
strong{
    font-size: 20px;
    font-weight:650;
}
margin-bottom: 33px;
}
    }
    p{
        &.img
        {
            margin-bottom: 3px;
            margin-top:0; 
            
        }
    }
}

ul {
    &.threecolumnlayout
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
     
    }
	img {
        max-width: 100%;
      
	}
	li {
       
		list-style-type: none;
        list-style-position: inside;
      //  margin-bottom: 33px;
        div
        {&.insta
            {
                display: flex;
                justify-content: center;
            }
            &.desc
            {
                margin-top: 10px;
            }

        }
        p {
            &.img {
            text-align: center;
            margin-bottom:10px;
            }
            &.type {
				line-height: 0px;
				font-style: italic;
			}
		}
    }
    h3{
    font-size: 23px;
    font-weight: 500;
    margin: 13px 0;
    line-height: 33px;
    }
	span {
		strong {
            font-size: 23px;
            font-weight:500;
		}
	}
}
.heading_black_bg{margin-bottom:30px}
.heading_black_bg{
    span{
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 0 0;
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 3px;
    }
}
@media only screen and (max-width: 600px) {
    // aside{
    //     &.sidebar
    //     {
            ul{
                li{
                   // width:100%;
                    img{width: 100%;}    
                }
            }
            
    //     }
    // }
    section{
    &.content{
        ul{
            &.fullscreen_images{
                img{width: 108%;margin-left: -4%;max-width:108%;}
            .carousel
            {
                img{width: 100%;margin-left: 0%;max-width:100%;}
            }
            }
        &.threecolumnlayout
        {
        li{flex-basis: 100%;}
        
        }
        //img{width: 100%;}
        
        //full width image
       
    }
}
}
  }
